a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    color: #fe8c00;
    text-decoration: none;
}

#header {
    width: 100%;
    height: 50px;
    background-color: #F8F8F8;

    .header {
        height: 50px;
        width: 1300px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .nav1 {
            margin-top: 15px;

            .a2 {
                color: #747674;
            }

            .a3 {
                a {
                    margin-left: 5px;
                    color: #999999;
                }

                :hover {
                    color: #FE8C00;
                }

            }

            .li {
                margin-left: 30px;
                color: #FE8C00;
            }

            .a6 {
                .ce {
                    margin-left: 10px;
                    color: #999999;

                }

                :hover {
                    color: #FE8C00;
                }
            }



        }

        .nav2 {
            width: 500px;
            margin-top: 15px;
            // display: flex;


            .a5 {
                color: #999999;
                margin: 0 20px 0 20px;
                position: relative;
                float: left;

                ul {
                    width: 150px;
                    position: absolute;
                    top: 20px;
                    background-color: #fff;
                    display: none;
                    z-index: 10;

                    li {
                        display: block;
                        line-height: 30px;
                        margin-left: 20px;

                        :hover {
                            color: #FE8C00;
                        }
                    }

                }

                a {
                    color: #999999;
                }



                :hover {

                    color: #FE8C00;

                }

                &:hover ul {
                    display: block;
                }

            }
        }

    }
}


////////////********************

#search {
    width: 100%;
    height: 152px;
    box-shadow: #ccc 0px 2px 3px 0px;

    .search {
        height: 152px;
        width: 1300px;
        margin: auto;

        display: flex;
        position: relative;

        img {
            height: 57px;
            margin-top: 35px;
        }

        .input-group {

            width: 690px;
            margin: 55px 0 0 242px;
        }

        ul {
            box-shadow: #ccc 0px 2px 3px 0px;
            z-index: 10;

            li {
                font-size: 14px;
                line-height: 24px;
                margin-left: 10px;

                a {
                    color: #000;
                }

                :hover {
                    color: #FE8C00;
                    cursor: pointer;
                }


            }

        }
    }
}


#main {
    width: 100%;
    height: 5858px;
    background-color: #F8F8F8;
    // margin-bottom: 20px;

    .main {
        height: 5858px;
        width: 1300px;
        margin: auto;
        background-color: #fff;
        // margin-top: 25px;

        .cc {
            border-bottom: 1px solid #E5E5E5;
            width: 1300px;
            height: 25px;
            background-color: #F8F8F8;
        }

        // 按省份选择

        .xuanze {
            width: 1250px;
            height: 115px;
            border-bottom: 1px solid #ccc;
            margin-left: 25px;
            position: relative;

            >span {
                float: left;
                margin-top: 42px;
            }

            .dropdown {
                float: left;
                margin-left: 5px;
                margin-right: 10px;
                margin-top: 25px;

                button {
                    width: 188px;
                    height: 48px;
                    z-index: 1;

                    span {
                        margin-left: 80px;
                    }


                }
            }

            .shengfen {
                .text1 {
                    width: 300px;

                    span {
                        float: left;
                        width: 300px;
                    }

                    li {
                        float: left;
                        width: 90px;

                        a {
                            float: left;
                            width: 90px;
                        }
                    }
                }
            }

            .chengshi {
                margin-right: 25px;

                .text2 {
                    width: 600px;

                    li {
                        float: left;

                    }
                }
            }

            .sou {
                margin-left: 50px;
                float: left;
            }

            .suoText {
                margin-top: 35px;
                width: 200px;
                float: left;
            }

            .sou1 {
                overflow-y: scroll;
                box-shadow: #ccc 0px 2px 3px 0px;
                z-index: 10;

            }
        }

        .remen {
            width: 1250px;
            height: 102px;
            border-bottom: 1px solid #ccc;
            margin-left: 25px;

            div {
                float: left;
                width: 70px;
                line-height: 100px;

            }

            ul {
                width: 884px;
                display: flex;
                justify-content: space-around;

                li {
                    margin-top: 40px;

                    a {
                        color: #666666;
                    }
                }
            }
        }

        .city {
            width: 1250px;
            margin-left: 25px;

            .anPing {
                height: 126px;

                span {
                    float: left;
                    width: 150px;
                    line-height: 126px;

                }

                ul {
                    width: 1043px;
                    display: flex;
                    justify-content: space-between;

                    a {
                        line-height: 126px;
                        font-size: 20px;
                        color: #666666;
                    }
                }
            }

            div {
                // height: 126px;
                width: 1203px;

                span {
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: #FFD000;
                    border-radius: 50%;
                    line-height: 50px;
                    text-align: center;
                    float: left;
                    margin-right: 25px;
                }

                ul {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    // margin: 20px 0;
                    padding: 20px 0 0 0;

                    li {
                        height: 50px;
                        margin-right: 48px;

                        a {
                            color: #666666;
                        }

                        :hover {
                            cursor: pointer;
                            color: #FE8C00;

                        }
                    }
                }
            }
        }

        .dd {
            border-top: 1px solid #E5E5E5;

            width: 1300px;
            height: 50px;
            background-color: #F8F8F8;
        }
    }
}

#footer {
    width: 100%;
    height: 672;
    background-color: #F8F8F8;

    .footer {
        height: 672px;
        width: 1300px;
        margin: auto;
        background-color: #F8F8F8;
        border-top: 1px solid #E5E5E5;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        div {
            margin: 64px 0 -30px -10px;

            ul {
                li {
                    width: 145px;

                    span {
                        color: #333333;
                        font-size: 17px;
                    }

                    a {
                        color: #666666;
                        line-height: 30px;
                        font-size: 13px;
                        // &:hover {
                        //     color: #FE8C00;
                        // }
                    }

                    &:hover a {
                        color: #FE8C00;
                    }
                }
            }

        }

        .foot1,
        .foot2 {
            margin-left: 57px;
        }

        .foot5 {
            margin-bottom: 100px;
        }

        .foot6 {
            margin-top: 59px;

        }

        .foot9 {
            margin-bottom: 100px;
        }

        .foot11,
        .foot12 {
            li {
                width: 250px;
            }

        }

        .foot13,
        .foot14 {
            margin-left: -10px;
            margin-top: 8px;
            list-style: none;

            :hover {
                color: #FE8C00;
            }

            a {
                display: block;
                font-size: 15px;
                color: #666666;
                margin-top: 30px;
            }
        }
    }
}